<main>
    <section class="splash">
        <div class="splash_bg"></div>
        <div>
            <h1 class="sc_op1">
                <span>#THINK</span><span>DIFFERENT</span>
            </h1>
            <p class="sc_op2">Design &amp; Develop</p>
        </div>
        <div class="open_curtain">
            <button class="sc_op3"><span>Starts here</span><span class="lnr lnr-arrow-down"></span></button>
        </div>
        <canvas id="canvas"></canvas>
    </section>
    <section class="services">
        <div class="row">
            <div class="small-12 columns text-center">
                <header>
                    <h1>Services</h1>
                    <hr>
                    <p>code and design</p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns text-center">
                <span class="lnr lnr-tablet"></span><br>
                <h4>{{ home.services[0]['title'] }}</h4>
                <p>{{ home.services[0]['description'] }}</p>
            </div>
            <div class="small-4 columns text-center">
                <span class="lnr lnr-rocket"></span><br>
                <h4>{{ home.services[1]['title'] }}</h4>
                <p>{{ home.services[1]['description'] }}</p>
            </div>
            <div class="small-4 columns text-center">
                <span class="lnr lnr-coffee-cup"></span><br>
                <h4>{{ home.services[2]['title'] }}</h4>
                <p>{{ home.services[2]['description'] }}</p>
            </div>
        </div>
    </section>
    <section class="work">
        <div class="row">
            <div class="small-12 columns text-center">
                <header>
                    <h1>Work</h1>
                    <hr>
                    <p>here are some of my recent works</p>
                </header>
            </div>
        </div>
        <div class="row fullWidth">
            <div class="small-12 medium-12 large-6 columns">
                <div class="tpl"></div>
                <figure class="effect-hera eh1">
                    <img src="{{ home.works[0]['image_url'] }}" alt="">
                    <figcaption>
                        <p>
                            <a href="{{ home.works[0]['work_url'] }}" target="_blank"><span>v</span><span>i</span><span>e</span><span>w</span></a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <div class="tpr"></div>
                <figure class="effect-hera eh2">
                    <img src="{{ home.works[1]['image_url'] }}" alt="">
                    <figcaption>
                        <p>
                            <a href="{{ home.works[1]['work_url'] }}" target="_blank"><span>v</span><span>i</span><span>e</span><span>w</span></a>
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row fullWidth">
            <div class="small-12 medium-12 large-6 columns">
                <div class="btl"></div>
                <figure class="effect-hera eh3">
                    <img src="{{ home.works[2]['image_url'] }}" alt="">
                    <figcaption>
                        <p>
                            <a href="{{ home.works[2]['work_url'] }}" target="_blank"><span>v</span><span>i</span><span>e</span><span>w</span></a>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <div class="btr"></div>
                <figure class="effect-hera eh4">
                    <img src="{{ home.works[3]['image_url'] }}" alt="">
                    <figcaption>
                        <p>
                            <a href="{{ home.works[3]['work_url'] }}" target="_blank"><span>v</span><span>i</span><span>e</span><span>w</span></a>
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="row">
            <div class="small-12 columns text-center">
                <header>
                    <h1>About</h1>
                    <hr>
                    <p>{{ home.about[0]['description'] }}</p>
                </header>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="row">
            <div class="small-12 columns text-center">
                <i class="fa fa-paper-plane-o"></i>
                <a href="mailto:derek.pc.lin@gmail.com">derek.pc.lin@gmail.com</a>
            </div>
        </div>
    </section>
    <section class="followme">
        <div class="row">
            <div class="small-12 columns text-center">
                <a href="{{ home.contact[0]['url'] }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <a href="{{ home.contact[1]['url'] }}" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="{{ home.contact[2]['url'] }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                <a href="{{ home.contact[3]['url'] }}" target="_blank"><i class="fa fa-dribbble"></i></a>
            </div>
        </div>
    </section>
</main>

<script>
    // Responsive
    if ($(window).width() > 767) {
        // Load Scrolling Code
        $.getScript('./js/scroll.js');

        // Load Particle Animation Script
        $.getScript('./js/particles.js');
    }else{
        /* Button Click - Open or Close Navigation Menu */
        $('nav + button').on('click', function() {
            $('main').toggleClass('isOpen');
            $(this).toggleClass('active');
            $('span', this).toggleClass(function(){
                if ($(this).hasClass('lnr-menu')){
                    // Disable ScrollMagic Scene when Navigation Menu is open
                    $(this).removeClass('lnr-menu');
                    return 'lnr-cross';
                }else{
                    // Enable ScrollMagic Scene when Navigation Menu is closed
                    $(this).removeClass('lnr-cross');
                    return 'lnr-menu';
                }
            });
        });


    }
</script>


